<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.services.labelprovider.labelProvider">
      <labelProvider
            priority="10"
            provider="io.github.abelgomez.ps.profile.ui.providers.AssignmentOperationLabelProvider">
      </labelProvider>
      <labelProvider
            priority="10"
            provider="io.github.abelgomez.ps.profile.ui.providers.UpdateOperationLabelProvider">
      </labelProvider>
   </extension>

</plugin>
