<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2016 Abel Gómez.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Abel Gómez (agomezlla@uoc.edu) - initial API and implementation
 -->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ps.profile -->
      <package
            uri="http://io.github.abelgomez/ps/1.0"
            class="io.github.abelgomez.ps.PsPackage"
            genModel="resources/ps.profile.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="Profile to annotate diagrams following the Publish-Subscribe pattern"
            iconpath="icons/full/obj16/profile.png"
            name="Publish-Subscribe"
            path="pathmap://PS_PROFILES/ps.profile.uml">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://PS_PROFILES/"
            target="platform:/plugin/io.github.abelgomez.ps.profile/resources/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://PS_PROFILES/ps.profile.uml#_oym6cPnVEeaktbtljtfrvA"
            uri="http://io.github.abelgomez/ps/1.0">
      </profile>
   </extension>


</plugin>
